*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    font-family:  sans-serif;
    background-color:aliceblue;
  }
  
  .container {
    max-width: 600px;
    margin-left: 30%;
    margin-top: 15%;
    padding: 0 20px;
    height: auto;
    background-color:black ;
  }
  
  h1 {
    
    color: aqua;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px;
    box-shadow: 0px 2px #bababa;
    font-weight: normal;
    
    
    padding: 4px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 40px;
    
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  #tasklist{
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family:sans-serif;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2,7px;
    color: aqua;
    padding: 10px;
  }
  
  button:hover {
    background-color:thick greenyellow;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom:40px;
    color:black;
    margin-top: 10px;
margin-left: 30%;
font-size: 23px;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
    margin-right: 45%;
  }
  
  .delete-btn:hover {
    background-color: #da190b;
  }
  